@import url(http://fonts.googleapis.com/css?family=Sacramento);

.happy-dark {
	background: #2F2637;
}

.happy {
	text-align:center;
	font-family: Sacramento; 
	font-size: 20vmin;
	line-height: 20vmin;
}

.center {
	position:relative;
	margin-left: 50% !important;
	transform: translateX(-50%) !important;
}

  /* label color */
.happy-dark .input-field label {
	 color: #fff;
   }
   /* label focus color */
.happy-dark   .input-field input[type=text]:focus + label {
	 color: #fff;
   }
   /* label underline focus color */
.happy-dark  .input-field input[type=text]:focus {
	 border-bottom: 1px solid #000;
	 box-shadow: 0 1px 0 0 #000;
	 color: #fff;
   }
   /* valid color */
.happy-dark   .input-field input[type=text].valid {
	 border-bottom: 1px solid #FFF;
	 box-shadow: 0 1px 0 0 #000;
	 color: #fff;
   }
   /* invalid color */
.happy-dark   .input-field input[type=text].invalid {
	 border-bottom: 1px solid #000;
	 box-shadow: 0 1px 0 0 #000;
	 color: #fff;
   }
   /* icon prefix focus color */
.happy-dark   .input-field .prefix.active {
	 color: #fff;
   }

.nopadding {
	padding:0 !important;
}


.localVideo {
	width: 200px; 
	height: 200px;
}

.remoteVideo {
	width: 200px;
	height: 200px;
}

.connectionstate {
	position: absolute;
	top: 0px;
	width: 100%;
	text-align: center;
	color: #fff
}