<!DOCTYPE html>
<html>
<head>
	<title>WebRTC Happy example</title>

    <link type="text/css" rel="stylesheet" href="/components/materialize/dist/css/materialize.min.css"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
    <body class="" ng-app="WebRTCHappy">
	
    <div ng-controller="mainCtrl">

		<video class="localVideo hidden" id="localVideo"></video>
		<video class="remoteVideo hidden" id="remoteVideos"></video>
		<!-- button to hangup during the call -->
	    <a id="hang-up-during-call" class="hidden center btn-ring btn-floating btn-large waves-effect waves-light red" ng-click="hangup()"><i class="material-icons">call_end</i></a>


		<!-- Dropdown Structure -->
		<ul id="userdropdown" class="dropdown-content">
		  <li><a ng-click="showRecents()" href="#">Home</a></li>
		  <li><a ng-click="showAccount()" href="#">Account</a></li>
		  <li class="divider"></li>
		  <li><a href="/api/logout">Logout</a></li>
		</ul>

	    <nav class="">
	    	<div class="row">
				<div id="slide-out" class="side-nav">

				<form>
			        <div class="input-field teal">
			          <input id="search" type="search" required>
			          <label for="search"><i class="mdi-action-search"></i></label>
			          <i class="mdi-navigation-close"></i>
			        </div>
			    </form>
					<ul class="results">
				    </ul>
				</div>

		  		<a ng-click="focusSearch()" href="#" data-activates="slide-out" class="button-collapse show-on-large col s1"><i class="mdi-content-add"></i></a>

				<ul class="right ">
			      <!-- Dropdown Trigger -->
			      <li><a class="dropdown-button" href="#" data-activates="userdropdown">{{fname}} {{lname}}<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
				</ul>
   		 </div><!-- row -->
	    </nav>

	    <!-- Recent chats view --> 

	   	<div class="container" ng-hide="hideRecents">

	   		<!-- List of contacts -->
	   		 <ul class="collapsible popout contacts" data-collapsible="accordion">
	   		 	<li ng-repeat="contact in contacts" contacts-loop-directive>
					
					<div class="collapsible-header"><i class="large material-icons">perm_identity</i>{{fname}} {{lname}}</div>
					<div class="collapsible-body">
						<p>{{email}}</p>

						<div class="grey lighten-4 footer-copyright">
							<div class="container">
								<a class="waves-effect waves-teal btn-flat" ng-click="call(contact.email)"><i class="material-icons">phone</i> Call</a>
							</div>
						</div>

					</div>
				</li>
	   		 	<li>
					<div class="collapsible-header"><i class="mdi-maps-place"></i>Dummy</div>
					<div class="collapsible-body"><p>email</p></div>
				</li>


	   		 </ul><!-- end of contacts -->

		</div>

	    <!-- End of recent chats view --> 

	    <!-- Account settings  --> 

	   	<div class="container" ng-hide="hideAccount">
	   		<h1>Account settings</h1>

 				<form name="account" class="col s12" ng-submit="updateUserInfo(account)" method="post">

			   		<!-- First name -->
				 	<div class="row">
				       <div class="input-field col s6">
    				     <i class="mdi-content-create prefix"></i>
				         <input name="fname" id="first_name" type="text" pattern=".{2,}" class="validate" ng-model="fname">
				         <label for="first_name" class="active">First Name</label>
				       </div>

				       <!-- Last name -->
				       <div class="input-field col s6">
				         <i class="mdi-content-create prefix"></i>
				         <input name="lname" id="last_name" type="text" pattern=".{2,}" class="validate" ng-model="lname">
				         <label class="active" for="last_name">Last Name</label>
				       </div>
				     </div>

			   		<!-- email -->
					<div class="row">
				        <div class="input-field col s12">
				        	<i class="mdi-communication-email prefix"></i>
				         	<input name="email" id="email" type="email" class="validate" ng-model="email">
				         	<label ng-class="active" class="active" for="email">Email</label>
				        </div>
				      </div>


				      <!-- password -->
				      <div class="row">
				        <div class="input-field col s12">
				        	<i class="mdi-action-lock-open prefix"></i>
				         	<input name="password" id="password" type="password" class="validate" ng-model="password" pattern=".{6,}" ng-minlength="6" >
				          	<label for="password">Password</label>
				        </div>
				      </div>


			   	<div class="row" ng-hide="hideErrorMsg">
			      <div class="col s12 m5 center">
			        <div class="card-panel red lighten-4">
			          <span class="black-text">{{errormessage}}
			          </span>
			        </div>
			      </div>
			    </div>

			   	<div class="row" ng-hide="hideSuccessMsg">
			      <div class="col s12 m5 center">
			        <div class="card-panel teal">
			          <span class="white-text">{{successmessage}}
			          </span>
			        </div>
			      </div>
			    </div>

				     <div class="row">
				     	<div class="col s6">
					    	<button  class="btn waves-effect waves-light btn-large center" type="submit">save
						    <i class="mdi-content-send right"></i>
						  </button>
						</div>

						<div class="col s6">
							<button ng-click="showRecents()" class="btn waves-effect waves-light btn-large center">Back <i class="mdi-navigation-close left"></i></button>
						</div>
					</div>
			   	</form>


		</div>

	    <!-- End of account settings  --> 


		<div id="ringing" class="modal">
				<div class="modal-content">
					<h4>Incoming call</h4>
					<p>from...</p>
				</div>
				<div class="modal-footer">
		    		<a class="btn waves-effect waves-light green" ng-click="answer()"><i class="material-icons">call</i></a>
						
					<a class="btn waves-effect waves-light red" ng-click="hangup()"><i class="material-icons">call_end</i></a>
				</div>
			</div>

		</div>


	    <script src="/components/jquery/dist/jquery.min.js"></script>
	    <script src="/components/materialize/dist/js/materialize.min.js"></script>
	    <script src="/components/angular/angular.js"></script>
	    <script src="/socket.io/socket.io.js"></script>
	    <script src="/components/webrtc-adapter/adapter.js"></script>
	    <script src="/scripts/WebRTCHappy.js"></script>
	    <script src="/scripts/controllers/mainCtrl.js"></script>
	    <script src="/scripts/happycaller.js"></script>

	</body>
</html>
